<div class="container">
  <h2>Add Product</h2>
  <form [formGroup]="productForm" novalidate>
    <div>
      Name
      <input type="text" name="productName" #productName>
    </div>
    <br>
    <div>
      Category
      <select name="category" #category>
        <option value="cake">Cake</option>
        <option value="sandwiche">Sandwiche</option>
        <option value="coffee">Coffee</option>
      </select>
    </div>
    <br>
    <div>
      Price
      <input type="number" name="price" #price>
    </div>

    <br>
    <button class="btn btn-primary" (click)="clickSave(productName.value, category.value, price.value)">Save</button>
  </form>
</div>