<div class="container">
  <h2>Add Product</h2>
  <form>
    <div>
      Name
      <input type="text" name="productName">
    </div>
    <br>
    <div>
      Category
      <select name="category">
        <option value="cake">Cake</option>
        <option value="sandwiche">Sandwiche</option>
        <option value="coffee">Coffee</option>
      </select>
    </div>
    <br>
    <div>
      Price
      <input type="number" name="price">
    </div>

    <br>
    <button class="btn btn-primary">Save</button>
  </form>
</div>