<div class="container">
  <h2>Edit Product</h2>
  <form>
    <div>
      <span>
        Name
        <input type="text" name="productName" f>
      </span>
    </div>
    <br>
    <div>
      Category
      <select name="category">
        <option value="cake">Cake</option>
        <option value="sandwiche">Sandwiche</option>
        <option value="coffee">Coffee</option>
      </select>
    </div>
    <br>
    <div>
      Price
      <input type="number" name="price">
    </div>

    <br>
    <button class="btn btn-primary">Update</button>
  </form>
</div>