<div class="container">
  <h2>Edit Product</h2>
  <form [formGroup]="productForm">
    <div>
      <span>
        Name
        <input type="text" name="productName" formControlName="productName" #productName
          [(ngModel)]="product.productName">
      </span>
    </div>
    <br>
    <div>
      Category
      <select name="category" formControlName="category" #category [(ngModel)]="product.category">
        <option value="cake">Cake</option>
        <option value="sandwiche">Sandwiche</option>
        <option value="coffee">Coffee</option>
      </select>
    </div>
    <br>
    <div>
      Price
      <input type="number" name="price" formControlName="price" #price [(ngModel)]="product.price">
    </div>

    <br>
    <button class="btn btn-primary"
      (click)="clickUpdate(productName.value, category.value, price.value)">Update</button>
  </form>
</div>